header{
    background-image: url('../img/banner-hero/games/diablo-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    .top-menu{
        height: 80px;
        border-bottom: 1px solid gray;
        .top-menu-content{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .logo{
                margin-right: 25px;
            }
            .top-links{
                width: 55vw;
                max-width: 700px;
                /* background-color: green; */
                justify-content: space-around;
            }
            .top-btn-wrap{
                justify-content: space-between;
                /* width: 400px; */
                .top-btn{
                    padding: 10px;
                    margin-left: 20px;
                    width: 120px;
                    text-align: center;
                    border-radius: 5px;
                    cursor: pointer;
                }
                .btn-criar-acc{
                    background-color: #ffffff00;
                    border: 1px solid white;
                }
                .btn-logar{
                    background-color: var(--color-btn);
                }
            }
        }
    }
    .content-wrap{
        /* background-color: red; */
        height: calc(85vh - 80px);
        .left-menu{
            .left-menu-item{
                cursor: pointer;
                margin-top: 10px;
                filter: grayscale(1);   
            }.left-menu-active{
                filter: grayscale(0);
            }
        }
        .presentation{
            margin-left: 100px;
            h1{
                font-size: 5rem;
                width: 800px;
                margin-bottom: 10px;
            }
            .presetation-btn{
                margin-top: 25px;
                padding: 15px;
                width: 150px;
                text-align: center;
                justify-content: center;
                border-radius: 5px;
                cursor: pointer;
                background-color: var(--color-btn);

            }
        }
        
    }
}
.header-line{
    width: 100vw;
    height: 12px;
    background-color: 1px solid gray;
}