header{
    background-image: url('../img/banner-hero/games/diablo-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    .top-menu{
        background-color: red;
        /* display: flex;
        justify-content: center;
        align-items: center; */
        .top-menu-content{
            display: flex;
            align-items: center;
            .top-links{
                background-color: green;
                justify-content: space-between;
            }
        }
    }
}