@media (max-width: 1920px){
    .padding-standard{
        padding: 0 15vw 0 15vw;
    }
    footer{
        .footer-container{
            padding-top: 100px;
        }
    }
}
@media (max-width: 1440px){
    .padding-standard{
        padding: 0 10vw 0 10vw;
    }
    header{
        .presentation{
            margin-left: 100px;
            h1{
                font-size: 4rem !important;
                width: 600px !important;
                margin-bottom: 10px;
            }
        }   
    }
    main{
        .jogos-item{
            width: 240px !important;
            height: fit-content;
        }
    }
    
    footer{
     .footer-right-container{
        width: 30vw;
        margin-left: 60%;
    }   
    }
    
}
@media (max-width: 768px){
    .padding-standard{
        padding: 0 5vw 0 5vw;
    }
    header{
        .top-links{
            display: none;
        }
        .top-btn-wrap{
            .menu-mobile{
                display: inline-block !important;
                width: 50px;
                text-align: center;
                height: 100%;
                margin-left: 100px;
                font-size: 2rem;
                cursor: pointer;
            }
            .menu-mobile-active{
                color: var(--color-btn)
            }
        }
        .content-wrap{
            position: relative !important;
            .presentation-gif{
                position: absolute;
                right: 5vw;
                p{
                    display: none;
                }
                .presentation-gif-logo{
                    margin-bottom: 300px;
                }
            }
        }
        
        .presentation-content-wrap{
            display: flex;
            flex-direction:column-reverse;
            align-items: flex-start;
            .left-menu{
                display: flex;
                width: fit-content;
                .left-menu-item{
                    margin-left: 15px !important;
                }
                .left-menu-item-disabled{
                    margin-left: 15px !important;
                }
            }
            .presentation{
                margin-left: 0 !important;
                h1{
                    font-size: 3.5rem !important;
                    width: 500px !important;
                    margin-bottom: 10px;
                }
            }
        }
    }
    main{
        .jogos-item{
            width: 190px !important;
            height: fit-content;
        }
    }
    
}
@media (max-width: 375px){
    .padding-standard{
        padding: 0 2vw 0 2vw;
    }
    main{
        .jogos-item{
            width: 140px !important;
            height: fit-content;
        }
    }
}