:root{
    --bg-color: black;
    --font-color: white;
    --color-btn: #00AEFF;
    --font-family: 'Poppins', sans-serif;
    --transition: all .4s ease-in-out;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: var(--font-family);
}
.flex-center{
    display: flex;
    align-items: center;
}
.padding-standard{
    /* padding: 0 170px 0 170px; */
    padding: 0 10vw 0 10vw;
}



@import 'header';
@import 'jogosExclusivos';
@import 'footer';
@import 'media';