:root {
  --bg-color: black;
  --font-color: white;
  --color-btn: #00AEFF;
  --font-family: 'Poppins', sans-serif;
  --transition: all .4s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: var(--font-family);
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.padding-standard {
  /* padding: 0 170px 0 170px; */
  padding: 0 10vw 0 10vw;
}

header {
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
}

header .top-menu {
  height: 80px;
  border-bottom: 1px solid gray;
}

header .top-menu .top-menu-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .top-menu .top-menu-content .logo {
  margin-right: 25px;
}

header .top-menu .top-menu-content .top-links {
  width: 55vw;
  max-width: 700px;
  /* background-color: green; */
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .top-menu .top-menu-content .top-btn-wrap {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* width: 400px; */
}

header .top-menu .top-menu-content .top-btn-wrap .top-btn {
  padding: 10px;
  margin-left: 20px;
  width: 120px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

header .top-menu .top-menu-content .top-btn-wrap .btn-criar-acc {
  background-color: #ffffff00;
  border: 1px solid white;
}

header .top-menu .top-menu-content .top-btn-wrap .btn-logar {
  background-color: var(--color-btn);
}

header .content-wrap {
  /* background-color: red; */
  height: calc(85vh - 80px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .content-wrap .left-menu .left-menu-item {
  cursor: pointer;
  margin-top: 10px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

header .content-wrap .left-menu .left-menu-active {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

header .content-wrap .left-menu .left-menu-item-disabled {
  margin-top: 10px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

header .content-wrap .presentation {
  margin-left: 100px;
}

header .content-wrap .presentation h1 {
  font-size: 5rem;
  width: 800px;
  margin-bottom: 10px;
}

header .content-wrap .presentation .presetation-btn {
  margin-top: 25px;
  padding: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--color-btn);
}

header .content-wrap .presentation-gif .presentation-gif-logo {
  /* background-color: black; */
  width: 100%;
  /* width: 200px; */
  height: 160px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 100%;
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
  text-align: right;
}

header .content-wrap .presentation-gif p {
  margin-top: 140px;
  width: 100%;
  text-align: right;
}

header .content-wrap .presentation-gif .presentation-gif-item {
  width: 350px;
  height: 200px;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-btn);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
}

header .content-wrap .presentation-gif .presentation-gif-item:hover i {
  display: none;
}

header .content-wrap .presentation-gif .diablo-gif {
  background-image: url("../img/banner-hero/games/diablo-animation-cover.png");
}

header .content-wrap .presentation-gif .diablo-gif:hover {
  background-image: url("../img/banner-hero/games/diablo-animation.gif");
}

header .content-wrap .presentation-gif .heartstone-gif {
  background-image: url("../img/banner-hero/games/hearthstone-animation-cover.png");
}

header .content-wrap .presentation-gif .heartstone-gif:hover {
  background-image: url("../img/banner-hero/games/hearthstone-animation.gif");
}

header .content-wrap .presentation-gif .wow-gif {
  background-image: url("../img/banner-hero/games/wow-animation-cover.png");
}

header .content-wrap .presentation-gif .wow-gif:hover {
  background-image: url("../img/banner-hero/games/wow-animation.gif");
}

header .header-progress-bar {
  background-color: var(--color-btn);
  height: 2px;
  width: 30%;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.diabloiv {
  background-image: url("../img/banner-hero/games/diablo-bg.png");
}

.diabloiv-gif-logo {
  background-image: url("../img/banner-hero/games/diablo-logo.png");
}

.heartstone {
  background-image: url("../img/banner-hero/games/hearthstone-bg.png");
}

.heartstone-gif-logo {
  background-image: url("../img/banner-hero/games/hearthstone-logo.png");
}

.wow {
  background-image: url("../img/banner-hero/games/wow-bg.png");
}

.wow-gif-logo {
  background-image: url("../img/banner-hero/games/wow-logo.png");
}

.header-line {
  width: 100vw;
  height: 12px;
  background-color: 1px solid gray;
}
/*# sourceMappingURL=main.css.map */