:root {
  --bg-color: black;
  --font-color: white;
  --color-btn: #00AEFF;
  --color-banner-bg1: #0F1218;
  --color-banner-bg2: #060608;
  --color-banner-dropdown-footer:#0F1114;
  --font-family: 'Poppins', sans-serif;
  --transition: all .4s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: var(--font-family);
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.padding-standard {
  /* padding: 0 170px 0 170px; */
  padding: 0 10vw 0 10vw;
}

header {
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

header .top-menu {
  height: 80px;
  border-bottom: 1px solid gray;
  position: relative;
}

header .top-menu .top-menu-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .top-menu .top-menu-content .logo {
  margin-right: 25px;
}

header .top-menu .top-menu-content .top-links {
  width: 55vw;
  max-width: 700px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 9999;
}

header .top-menu .top-menu-content .top-links .dropbtn {
  z-index: 9999;
}

header .top-menu .top-menu-content .top-links .menu-links {
  cursor: pointer;
}

header .top-menu .top-menu-content .top-links .dropdown {
  /* display: inline-block; */
}

header .top-menu .top-menu-content .top-links .dropdown .dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

header .top-menu .top-menu-content .top-links .dropdown .dropbtn .arrow-color-active {
  color: var(--color-btn);
}

header .top-menu .top-menu-content .top-links .dropdown .dropbtn .arrow-color-active i {
  /* transform: rotate(180deg); */
  -webkit-transform: rotate3d(1, 0, 0, 180deg);
          transform: rotate3d(1, 0, 0, 180deg);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

header .top-menu .top-menu-content .top-btn-wrap {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* width: 400px; */
}

header .top-menu .top-menu-content .top-btn-wrap .top-btn {
  padding: 10px;
  margin-left: 20px;
  width: 120px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

header .top-menu .top-menu-content .top-btn-wrap .btn-criar-acc {
  background-color: #ffffff00;
  border: 1px solid white;
}

header .top-menu .top-menu-content .top-btn-wrap .btn-logar {
  background-color: var(--color-btn);
}

header .top-menu-bg {
  background-color: var(--color-banner-bg);
}

header .content-wrap {
  /* background-color: red; */
  height: calc(85vh - 80px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .content-wrap .left-menu .left-menu-item {
  cursor: pointer;
  margin-top: 10px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

header .content-wrap .left-menu .left-menu-active {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

header .content-wrap .left-menu .left-menu-item-disabled {
  margin-top: 10px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

header .content-wrap .presentation {
  margin-left: 100px;
}

header .content-wrap .presentation h1 {
  font-size: 5rem;
  width: 800px;
  margin-bottom: 10px;
}

header .content-wrap .presentation .presetation-btn {
  margin-top: 25px;
  padding: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--color-btn);
}

header .content-wrap .presentation-gif .presentation-gif-logo {
  /* background-color: black; */
  width: 100%;
  /* width: 200px; */
  height: 160px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 100%;
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
  text-align: right;
}

header .content-wrap .presentation-gif p {
  margin-top: 140px;
  width: 100%;
  text-align: right;
}

header .content-wrap .presentation-gif .presentation-gif-item {
  width: 350px;
  height: 200px;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-btn);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
}

header .content-wrap .presentation-gif .presentation-gif-item:hover i {
  display: none;
}

header .content-wrap .presentation-gif .diablo-gif {
  background-image: url("../img/banner-hero/games/diablo-animation-cover.png");
}

header .content-wrap .presentation-gif .diablo-gif:hover {
  background-image: url("../img/banner-hero/games/diablo-animation.gif");
}

header .content-wrap .presentation-gif .heartstone-gif {
  background-image: url("../img/banner-hero/games/hearthstone-animation-cover.png");
}

header .content-wrap .presentation-gif .heartstone-gif:hover {
  background-image: url("../img/banner-hero/games/hearthstone-animation.gif");
}

header .content-wrap .presentation-gif .wow-gif {
  background-image: url("../img/banner-hero/games/wow-animation-cover.png");
}

header .content-wrap .presentation-gif .wow-gif:hover {
  background-image: url("../img/banner-hero/games/wow-animation.gif");
}

header .header-progress-bar {
  background-color: var(--color-btn);
  height: 2px;
  width: 30%;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.diabloiv {
  background-image: url("../img/banner-hero/games/diablo-bg.png");
}

.diabloiv-gif-logo {
  background-image: url("../img/banner-hero/games/diablo-logo.png");
}

.heartstone {
  background-image: url("../img/banner-hero/games/hearthstone-bg.png");
}

.heartstone-gif-logo {
  background-image: url("../img/banner-hero/games/hearthstone-logo.png");
}

.wow {
  background-image: url("../img/banner-hero/games/wow-bg.png");
}

.wow-gif-logo {
  background-image: url("../img/banner-hero/games/wow-logo.png");
}

.header-line {
  width: 100vw;
  height: 2px;
  background-color: #c3c3c3;
  z-index: 99999;
}

.jogos {
  width: 500px;
  height: 500px;
  background-color: black;
  margin-top: 85px;
}

.z-index {
  z-index: 9999;
}

.dropdown-content {
  -webkit-transition: var(--transition);
  transition: var(--transition);
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  background: #040406;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--color-banner-bg1)), to(var(--color-banner-bg2)));
  background: linear-gradient(to bottom, var(--color-banner-bg1) 0%, var(--color-banner-bg2) 100%);
  min-width: 960px;
  min-width: 100%;
  height: 800px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 0;
}

.dropdown-content .dropdown-content-container {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 80px;
}

.dropdown-content .dropdown-content-container .drowdown-items {
  /* background-color: green; */
  /* margin: 0 20px; */
  width: 100vw;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px;
  padding-top: 15px;
  padding-bottom: 70px;
}

.dropdown-content .dropdown-content-container .drowdown-items .dropdown-jogos-item {
  /* background-color: red; */
  width: 100px;
  height: 70px;
  color: #9d9d9d;
  text-align: center;
  margin-left: 200px;
  margin-top: -40px;
}

.dropdown-content .dropdown-content-container .drowdown-items .dropdown-jogos-item img {
  width: 100%;
  height: auto;
}

.dropdown-content .dropdown-content-container .drowdown-items .dropdown-jogos-item p {
  /* background-color: red; */
  width: 100%;
  font-size: 1.3rem;
}

.dropdown-content .dropdown-content-container .dropdown-footer {
  background-color: var(--color-banner-dropdown-footer);
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: 0;
  color: var(--color-btn);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dropdown-content .dropdown-content-container .dropdown-footer .footer-item {
  margin-left: 45px;
}

.dropdown-content .dropdown-content-container .dropdown-footer span {
  color: white;
  margin-left: 10px;
}

.dropdown-content-active {
  display: block;
}

.jogos-exclusivos {
  /* background-color: rgb(0, 50, 0); */
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.jogos-exclusivos .main-header {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding: 20px;
}

.jogos-exclusivos .main-header .games {
  height: 120px;
  color: gray;
}

.jogos-exclusivos .main-header .jogos-exc {
  font-size: 2rem;
  width: 280px;
  margin-left: 15px;
}

.jogos-exclusivos .main-header .icons {
  height: 50px;
  width: 200px;
  font-size: 1.5rem;
}

.jogos-exclusivos .main-header .icons i {
  margin-left: 20px;
}

.jogos-exclusivos .main-header .all-games {
  color: var(--color-btn);
}

.jogos-exclusivos .main-content {
  /* background-color: green; */
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jogos-exclusivos .main-content .jogos-item {
  /* background-color: red; */
  width: 300px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 20px;
  margin-bottom: 25px;
  cursor: pointer;
}

.jogos-exclusivos .main-content .jogos-item .img-wrap {
  height: 413px;
  position: relative;
  overflow: hidden;
  /* background-color: green; */
}

.jogos-exclusivos .main-content .jogos-item .img-wrap .jogos-exc-logo {
  margin: 0 auto;
  margin-top: -140px;
  position: absolute;
  left: 0;
  right: 0;
}

.jogos-exclusivos .main-content .jogos-item .jogos-text {
  width: 100%;
  /* background-color: blue; */
}

.jogos-exclusivos .main-content .jogos-item:hover .imagem-exc {
  -webkit-transition: var(--transition);
  transition: var(--transition);
  scale: 1.1;
}

.jogos-exclusivos .main-content .jogos-item-all {
  height: 100%;
  height: 414px;
  border: 1px solid white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.jogos-exclusivos .main-content .jogos-item-all .jogos-text-all {
  margin-top: 25px;
}

.footer-container {
  background-color: green;
  height: 80vh;
  padding-bottom: 100px;
  padding-top: 100px;
}

.footer-container .footer-left-container {
  background-color: red;
  height: 100%;
  width: 50%;
}

.footer-container .footer-left-container .battle-net-txt {
  background-color: blue;
}

.footer-container .footer-left-container .battle-net-txt h2 {
  background-color: red;
  width: 200px;
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-container .footer-left-container .battle-net-txt p {
  margin-bottom: 15px;
  color: #a1a1a1;
}

.footer-container .footer-left-container .footer-btn {
  width: 150px;
  height: 80px;
  background-color: var(--color-btn);
}
/*# sourceMappingURL=main.css.map */